@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Forma 1 registration system </h1>
    <p>Created for the forma1 teams to be able to keep count of them. </p>
</div>
